---
title: About
imgUrl: ./src/assets/images/banner.png
imgAlt:
imgSize: '(min-width: 30em) 50vw, 100vw'
pictureClass: grid-column-full
imgClass: img-full
imgBorderColor: '#3f51b5'
eleventyNavigation:
  key: About
  order: 2
---

{% extends 'layouts/home.njk' %}

{% block content %}
  <div class="blog-heading-tags">
    <h1>{{ title }}</h1>
  </div>

{% imageNjk imgUrl, imgAlt, imgSize, pictureClass, imgClass, imgBorderColor %}

<style>
ul.a {list-style-type: disc;}
p.a {}
</style>

<p>
<h5>Education</h5>
Royal College of Art, London, United Kingdom
<i>Master of Arts - Soft system Textiles, July 2022</i>
HanYang University,South Korea
<i>Bachelor of Fine Art - Jewelry and Fashion Design, 2020</i>
</p>

<p>
<b>Exhibitions</b>
<ul class="a">
<li> Untitled:Unknown Quantity,Graduation exhibition,South Korea, 2019</li>
<li> WIP Show, Royal College of Art, London, UK, 2022</li>
</ul>
</p>

<ul class="a">
<b>Awards</b>
<li> Rising Star Fashion Designer Competition finals, Accessory Design, 2020 </li>
<li> Outstanding Undergraduate, Hanyang University, 2020 </li>
<li> Honour of Excellent Designer in the 17th International Jewelry Design Context, 2018 </li>
<li> Hanyang University Scholarship for Excellent Foreign Student, 2016-2019 </li>
</ul>

<b>Contact</b>
<ul class="a">
<li> Instagram: <a href="https://www.instagram.com/guwanyue.z/" target="_blank"> guwanyue.z </a> </li>
<li> LinkedIn: <a href="https://www.linkedin.com/in/guwanyue-zhang-0b840022b/" target="_blank"> Guwanyue Zhang </li>
<li> Email: 256124@network.rca.ac.uk </li>
</ul>

{% endblock %}
